{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    {% if modificar %}
        Modificación de Usuarios - Administrador
    {% else %}
            Creación de Usuarios - Administrador
    {% endif %}
{% endblock title %}

{% block extrahead %}
    
{% endblock%}

{% block content %}

<div class="page has-sidebar-left  height-full">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-database"></i>
                        Usuarios
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" id="v-pills-tab" role="tablist">
                    <li>
                        <a class="nav-link"  href="{% url 'list_users' %}"><i class="icon icon-home2"></i>Todos los Usuarios</a>
                    </li>
                    <li>
                        <a class="nav-link active"  href="#" ><i class="icon icon-plus-circle"></i> Agregar un Nuevo Usuario</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid animatedParent animateOnce">
        <div class="animated fadeInUpShort">
            <div class="row my-3">
                <div class="col-md-7  offset-md-2">
                    <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="card no-b  no-r">
                            <div class="card-body">
                                <h5 class="card-title">Acerca del Usuario</h5>
                                <div class="form-row">
                                    {% for field in form %}
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin: 15px;">
                                                {% bootstrap_field field label_class="control-label col-lg-12" field_class="col-lg-12" %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                           
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>
                                    {% if modificar %}
                                        Modificar
                                    {% else %}
                                        Registrar
                                    {% endif %}
                                </button>
                                <a href="{% url 'list_users' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    </div>
</div>
    
{% endblock %}

{% block plugins %}
    
{% endblock %}

