{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <h4 class="modal-title mt-0" style="padding: 10px;">Administrador de la Empresa "{{ nombreEmpresa }}"</h4>
            <div>
                <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
            </div>
        </div>
        <div class="modal-body">
            <div class="user-profile-img">
                {% if object.foto%}
                    <img alt="" src="{{object.foto.url}}" class="avatar" style="height: 120px; width: 120px;">
                {% else %}
                    <a class="user-avatar mr-2" href="#">
                        <img src="{% static 'generales/images/user.jpg' %}" alt="user" class="thumb-xl rounded-circle">
                    </a>
                {% endif %}
                <h3 class="user-name m-t-10 m-b-0" style="display: inline-block;">{{object.first_name}} {{object.segundo_nombre}}
                    {{object.last_name}} {{object.segundo_apellido}}</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="chat-profile-info">
                        <ul class="personal-info" style="margin-top: 1rem;">
                            <li>
                                <span class="title">Nombres:</span>
                                <span class="text">{{object.first_name}} {{object.segundo_nombre}}</span>
                            </li>
                            <li>
                                <span class="title">Apellidos:</span>
                                <span class="text">{{object.last_name}} {{object.segundo_apellido}}</span>
                            </li>
                            <li>
                                <span class="title">Número de Documento:</span>
                                <span class="text">{{object.tipo_documento_identificacion}}. {{object.numero_documento_identificacion}}</span>
                            </li>
                            <li>
                                <span class="title">Teléfonos:</span>
                                <span class="text">
                                    {% if object.telefono or object.celular %}
                                        {{object.telefono}} - {{object.celular}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">E-mail:</span>
                                <span class="text">{{object.email}}</span>
                            </li>
                            <li>
                                <span class="title">Direccion:</span>
                                <span class="text">
                                    {% if object.direccion %}
                                        {{object.direccion}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Tipo de plan:</span>
                                <span class="text">{{tenant.tipo_plan | default:'-'}}</span>
                            </li>
                            <li>
                                <span class="title">Valor de plan:</span>
                                <span class="text">$ {{tenant.valor_plan | intcomma}}</span>
                            </li>
                            <li>
                                <span class="title">Cuota:</span>
                                <span class="text">$ {{tenant.cuota_pago | intcomma}}</span>
                            </li>
                            <li>
                                <span class="title">Estado financiero:</span>
                                <span class="text">{{tenant.estado_financiero | default:'-'}}</span>
                            </li>
                            <li>
                                <span class="title">Fecha de corte:</span>
                                <span class="text">{{tenant.fecha_corte | default:'-'}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>