{% extends 'baseAdmin.html' %}
{% load staticfiles %}

{% block title %}
    Tenants
{% endblock title %}

{% block extrahead %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'generales/css/sweetalert.min.css' %}">
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Empresas registradas</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'registrar_tenant' %}" class="btn btn-gradient-primary px-4 float-right mt-0 mb-3">
                        <i class="mdi mdi-plus-circle-outline mr-2"></i>Agregar Empresa
                    </a>
                    <div class="table-responsive">
                        <div class="table-responsive dash-social"></div>
                            <table class="table" id="datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th>Nombre tenant</th>
                                    <th>Nit Empresa</th>
                                    <th>Nombre Empresa</th>
                                    <th>Ciudad</th>
                                    <th>Direccion</th>
                                    <th>Telefonos</th>
                                    <th>Fecha de registro</th>
                                    <th>Estado</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tenant in object_list %}
                                    {% if tenant.nombre_tenant != 'public' %}
                                    <tr>
                                        <td>
                                            {{ tenant.nombre_tenant }}
                                        </td>
                                        <td>
                                            {{ tenant.codigo_tenant }}
                                        </td>
                                        <td>
                                            {{ tenant.nombre_empresa }}
                                        </td>
                                        <td>
                                            {{ tenant.ciudad }}
                                        </td>
                                        <td>
                                            {{ tenant.direccion }}
                                        </td>
                                        <td>
                                            {{ tenant.telefono }} {% if tenant.celular %} - {{ tenant.celular }} {% endif %}
                                        </td>
                                        <td>
                                            {{ tenant.fecha_registro }}
                                        </td>
                                        <td>
                                            {% if tenant.estado %}
                                                <a onclick="InactivarTenant('{{tenant.id}}', '{{tenant.nombre_veterinaria}}', '{{tenant.codigo_tenant}}');" class="action-icon dropdown-toggle" style="color: #3fad24;cursor: pointer;">
                                                    <i class="fa fa-toggle-on fa-lg"></i> Activo
                                                </a>
                                            {% else %}
                                                <a onclick="ActivarTenant('{{tenant.id}}', '{{tenant.nombre_veterinaria}}', '{{tenant.codigo_tenant}}');" class="action-icon dropdown-toggle" style="color: #c60b15;cursor: pointer;">
                                                    <i class="fa fa-toggle-off fa-lg"></i> Inactivo
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            <a href="{% url 'editar_empresa' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fas fa-edit font-16 mr-2" style="color: #076ff1;" ></i></i></a>
                                            {% if tenant.tiene_administrador %}
                                                <a onclick="return abrir_modal('{% url 'detalle_administrador_tenant' tenant.id %}')" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-eye fa-lg"></i></a>
                                            {% else %}
                                                <a href="{% url 'crear_administrador_tenant' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-user-plus fa-lg"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{% static 'generales/js/sweetalert.min.js' %}"></script>
    <!-- jQuery  -->
    <script src="{% static 'generales/js/jquery.min.js' %}"></script>
    <script src="{% static 'generales/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'generales/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'generales/js/waves.min.js' %}"></script>
    <script src="{% static 'generales/js/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'generales/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
    <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
    <!-- Required datatable js -->
    <script src="{% static 'generales/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'generales/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'generales/plugins/peity-chart/jquery.peity.min.js' %}"></script>

    <script src="{% static 'generales/pages/jquery.ana_customers.inity.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'generales/js/app.js' %}"></script>
    <script>
        $(function() {
            $('#toggle-two').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        });


        $('#datatable').on( 'page.dt', function () {
           console.log("Pruebaa");
           $('#toggle-two').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        });

        function abrir_modal(url)
        {
            $('#modal-detalle').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }

        function InactivarTenant(id, nombre,nit) {

            swal({
                title: 'Estas seguro que deseas inactivar al cliente "'+nombre+'" con nit '+nit+'?',
                text: "El cliente no podrá ingresar a la aplicacion, sin embargo la informacion que el cliente haya ingresado a la aplicacion no se perdera.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, desactivar!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/veterinarias/inactivar_tenant/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/veterinarias/listar_veterinarias/");
                        }
                    });
                }
            });

        }

        function ActivarTenant(id, nombre,nit) {

            swal({
                title: 'Estas seguro que deseas activar al cliente "'+nombre+'" con nit '+nit+'?',
                text: "El cliente podrá ingresar nuevamente a la aplicacion y acceder a toda la informacion que haya registrado.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, activar!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/veterinarias/activar_tenant/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/veterinarias/listar_veterinarias/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock plugins %}