{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Hops para empresas Contables" name="description" />
        <meta content="Hops" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'generales/images/favicon.ico'%}">

        <!-- App css -->
        <link href="{% static 'generales/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'generales/css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'generales/css/metisMenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'generales/css/style.css'%}" rel="stylesheet" type="text/css" />

        {% block extrahead %}
	    {% endblock%}
    </head>

    <body class="dark-topbar">
        <div class="main-wrapper">
            <div class="topbar">	
                {% include "headerAdmin.html" %}
            </div>
            <div class="page-wrapper">
                <!-- Left Sidenav -->
                <div class="left-sidenav">
                <div class="main-icon-menu">
                    <nav class="nav">
                        {% include "menuAdmin.html" %}
                </div><!-- end left-sidenav-->
                <!-- Page Content-->
                <div class="page-content">
                    <div class="container-fluid">
                        {% block content %}			
                        {% endblock %}
                    </div><!-- container -->
                </div><!-- end page content -->
                <div id="delete_patient" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Patient</h4>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <p>Are you sure want to delete Patient?</p>
                                </div>
                                <div class="modal-footer"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- end page-wrapper -->
        </div><!-- Main wrapper -->
        <footer class="footer text-center text-sm-left">
            <span class="text-muted d-none d-sm-inline-block float-right">&copy; 2020 Hops</span>
        </footer><!--end footer-->
        <div class="sidebar-overlay" data-reff="#sidebar"></div>
        <!-- jQuery  -->
        <script src="{% static 'generales/js/jquery.min.js'%}"></script>
        <script src="{% static 'generales/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'generales/js/metisMenu.min.js'%}"></script>
        <script src="{% static 'generales/js/waves.min.js'%}"></script>
        <script src="{% static 'generales/js/jquery.slimscroll.min.js'%}"></script>
        <script src="{% static 'generales/plugins/apexcharts/apexcharts.min.js'%}"></script>
        <script src="{% static 'generales/pages/jquery.analytics_dashboard.init.js'%}"></script>
        <script type="text/javascript" src="{% static 'generales/js/modernizr.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'generales/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'generales/js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'generales/js/dataTables.bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'generales/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'generales/js/toastr.min.js' %}"></script>
        <script type="text/javascript">
            $(".table-striped").dataTable({
                searching: true,
                ordering: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                }
            });
        </script>
        {% if messages %}
            {% for message in messages %}
                <script>
                    $(document).ready(function() {
                        setTimeout(function() {
                            toastr.options = {
                                closeButton: true,
                                progressBar: true,
                                showMethod: 'slideDown',
                                timeOut: 4000
                            };

                            toastr['{{ message.tags }}']('{{ message }}');

                        }, 10);
                    });
                </script>
            {% endfor %}
        {% endif %}
        {% block plugins %}
        {% endblock %}
    </body>
</html>
            

        
        
                