{% load static %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'system/assets/img/basic/favicon.ico'%}" type="image/x-icon">
        <title>{% block title %}{% endblock title %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'system/assets/css/app.css'%}">
        <style>
            .loader {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #F5F8FA;
                z-index: 9998;
                text-align: center;
            }

            .plane-container {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        </style>
        <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
        {% block extrahead %}
        {% endblock%}
    </head>

    <body class="light">
        <div id="app">	
            {% include "header.html" %}
            {% block content %}			
            {% endblock %}
            <div class="control-sidebar-bg shadow white fixed"></div>
        </div>
        <footer class="footer text-center text-sm-left">
            <span class="text-muted d-none d-sm-inline-block float-right">&copy; 2020 Hops</span>
        </footer><!--end footer-->
        <script src="{% static 'system/assets/js/app.js'%}"></script>
        <script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
        {% block plugins %}
        {% endblock %}
    </body>
</html>