{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}{% endblock %}</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'page/assets/img/favicon.png'%}" rel="icon">
        <link href="{% static 'page/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'page/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'page/assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
        <link href="{% static 'page/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
        <link href="{% static 'page/assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
        <link href="{% static 'page/assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
        <link href="{% static 'page/assets/vendor/aos/aos.css'%}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'page/assets/css/style.css'%}" rel="stylesheet">
    </head>

    <body>
        {% include "header_page.html" %}
        {% block content %}			
        {% endblock %}
        <footer id="footer">
            {% include "footer_page.html" %}
        </footer><!--end footer-->
        {% block plugins %}
        {% endblock %}
        <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'page/assets/vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/php-email-form/validate.js'%}"></script>
        <script src="{% static 'page/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/venobox/venobox.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'page/assets/vendor/aos/aos.js'%}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'page/assets/js/main.js'%}"></script>

    </body>

</html>
            

        
        
                