{% load static %}
<div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4">
          <div class="footer-info" style="margin-top:30px;">
            <img src="{% static 'page/assets/img/intern/logofooter.png'%}" alt="" class=" img-fluid">
            <p>
              © 2014 English en linea. Todos los derechos reservados.</p>
            <p><a href="http://www.englishenlinea.com/politica.html">Políticas de Privacidad</a> <a href="http://www.englishenlinea.com/termino.html">Términos y condiciones</a></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 footer-links" style="margin-top:30px;">
          <h4>Mapa del Sitio</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#pricing">Regístrate</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#course">Curso en Inglés</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#question">Preguntas Frecuentes</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#team">Testimonios</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contacto</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 footer-links" style="margin-top:30px;">
          <h4>Síguenos</h4>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>