{% load static %}
<!-- LOGO -->
<div class="topbar-left">
    <a href="../analytics/analytics-index.html" class="logo">
        <span>
            <img src="{% static 'generales/images/logo-sm.png'%}" alt="logo-small" class="logo-sm">
        </span>
        <span>
            <img src="{% static 'generales/images/logo-dark.png'%}" alt="logo-large" class="logo-lg">
        </span>
        <span>
            <img src="{% static 'generales/images/logo.png'%}" alt="logo-large" class="logo-light">
        </span>                    
    </a>
</div>
<!--end logo-->
<!-- Navbar -->
<nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-right mb-0"> 
        <li class="dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="false" aria-expanded="false">
                <span class="ml-1 nav-user-name hidden-sm">{% block nombre_usuario %}{{ user.get_username }}{% endblock %} <i class="fa fa-sort-down"></i></a><i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="dropdown-item dropdown-menu pull-right">
                    <li><a href="{% url 'cerrar_sesion' %}"><i class="dripicons-exit text-muted mr-2"></i>Cerrar sesión</a></li>
                </ul>
            </div>
        </li>
    </ul><!--end topbar-nav-->

    <ul class="list-unstyled topbar-nav mb-0">                        
        <li>
            <button class="button-menu-mobile nav-link waves-effect waves-light">
                <i class="dripicons-menu nav-icon"></i>
            </button>
        </li>
    </ul>
</nav>
<!-- end navbar-->
