{% load static %}
<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">
        <div class="w-80px mt-3 mb-3 ml-3">
            <img src="{% static 'system/assets/img/admin/logocolor.png'%}" alt="">
        </div>
        {% include "menu.html" %}
    </section>
</aside>