{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Scaffold</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="{% static 'page/assets/img/intern/logo.png'%}" width="110" alt="" class="img-fluid"></a>
      </div>
      {% include "menu_page.html" %}

    </div>
  </header><!-- End Header -->
