{% extends 'base_page.html' %}
{% load static %}

{% block title %}
English en Línea
{% endblock title %}

{% block extrahead %}

{% endblock%}

{% block content %}
  <!-- ======= Sliders Primary Section ======= -->
  <div id="slider-primary" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slider-primary" data-slide-to="0" class="active"></li>
      <li data-target="#slider-primary" data-slide-to="1"></li>
      <li data-target="#slider-primary" data-slide-to="2"></li>
      <li data-target="#slider-primary" data-slide-to="3"></li>
      <li data-target="#slider-primary" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio0.jpg'%}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-banner text-left">
            <div class="content-banner">
              <div class="block-title-banner">
                <h1 class="title">El inglés</h1>
                <h2 class="subtitle">que esperabas</h2>
              </div>
              <div class="block-descripcion-banner">
                <p class="descripcion">Aprende inglés con la gran variedad de cursos para principiantes, para<br>recuperar el nivel y de nivel avanzado, gramática, entrenamiento de<br>verbos, vocabulario y mucho más.</p>
              </div>
            </div>
            <a href="#" class="register bottom-banner">REGÍSTRATE YA</a>
            <a href="#" class="videos bottom-banner">
              VER VIDEO
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio1.jpg'%}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-banner text-left">
            <div class="content-banner">
              <div class="block-title-banner">
                <h1 class="title">Aprende inglés</h1>
                <h2 class="subtitle">estés donde estés</h2>
              </div>
              <div class="block-descripcion-banner">
                <p class="descripcion">
                ENGLISH EN LINEA te ofrece la ventaja de divertirte aprendiendo inglés estés donde estés. En el autobús, en el metro, en los descansos, en la oficina, cualquier lugar es bueno para aumentar tus conocimientos de este idioma universal. 
                </p>
              </div>
            </div>
            <a href="#" class="register bottom-banner">REGÍSTRATE YA</a>
            <a href="#" class="videos bottom-banner">
              VER VIDEO
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio2.jpg'%}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-banner text-left">
            <div class="content-banner">
              <div class="block-title-banner">
                <h1 class="title">Avanza</h1>
                <h2 class="subtitle">en tu carrera</h2>
              </div>
              <div class="block-descripcion-banner">
                <p class="descripcion">
                  El inglés se está haciendo cada vez más importante para avanzar en tu carrera, entrar en la universidad, y conseguir el trabajo de tus sueños.<br>
                  Recibirás un certificado oficial de ENGLISH EN LINEA al completar con<br>
                  éxito cada nivel de tu curso de inglés, y así ajuntarlo a tu curriculum.
                </p>
              </div>
            </div>
            <a href="#" class="register bottom-banner">REGÍSTRATE YA</a>
            <a href="#" class="videos bottom-banner">
              VER VIDEO
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio3.jpg'%}" alt="Ford slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-banner text-left">
            <div class="content-banner">
              <div class="block-title-banner">
                <h1 class="title">Nunca</h1>
                <h2 class="subtitle">es tarde para empezar</h2>
              </div>
              <div class="block-descripcion-banner">
                <p class="descripcion">
                  English en linea esta diseñador para que todos la puedan usar, con un <br>sistema fácil de usar y con la ayuda de nuestros profesores.
                </p>
              </div>
            </div>
            <a href="#" class="register bottom-banner">REGÍSTRATE YA</a>
            <a href="#" class="videos bottom-banner">
              VER VIDEO
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio4.jpg'%}" alt="Ford slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-banner text-left">
            <div class="content-banner">
              <div class="block-title-banner">
                <h1 class="title">Conoce</h1>
                <h2 class="subtitle">nuestro sistema</h2>
              </div>
              <div class="block-descripcion-banner">
                <p class="descripcion">
                Mira nuestro video y entérate lo fácil que es<br>
                aprender inglés con nuestro sistema multimedia.
                </p>
              </div>
            </div>
            <a href="#" class="register bottom-banner">REGÍSTRATE YA</a>
            <a href="#" class="videos bottom-banner">
              VER VIDEO
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#slider-primary" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider-primary" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- ======= Sliders Secondary Section ======= -->
  <!--<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExample" data-slide-to="1"></li>
      <li data-target="#carouselExample" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio0.jpg'%}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>We design digital products that help grow businesses</h1>
            <h2>We are team of talanted designers making websites with Bootstrap</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio1.jpg'%}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'page/assets/img/sliders/bginicio2.jpg'%}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->

  <main id="main">

    <!-- ======= Course Section ======= -->
    <section id="course" class="course">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 text-center" data-aos="zoom-in">
            <img src="{% static 'page/assets/img/intern/chica.png'%}" class="img-fluid text-center" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>EL MÉTODO MÁS FLEXIBLE</h3>
              <h4>para aprender inglés</h4>
              <p>Sabemos que dominar un nuevo idioma requiere práctica. Es por eso que diseñamos un sistema multimedia especialmente para entrar con facilidad a tu estilo de vida y ayudarte con tus metas.</p>
              <div class="row text-center" style="margin-top:30px;">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="{% static 'page/assets/img/intern/move.png'%}" class="u-center Curso-mimiimg">
                  <p class="u-descripcion">
                    Descubre lo divertido que es aprender inglés con los videos de entrenamiento.
                  </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="{% static 'page/assets/img/intern/micro.png'%}" class="u-center Curso-mimiimg">
                  <p class="u-descripcion">
                    Aprende a hablar inglés con soltura y a pronunciar correctamente como un nativo.
                  </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="{% static 'page/assets/img/intern/disco.png'%}" class="u-center Curso-mimiimg">
                  <p class="u-descripcion">
                    Aprende como jugando con nuestros "tests" on line.
                  </p>  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Course Section -->

    <!-- ======= Team Section ======= -->
    <section id="team_new" class="team_new">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 text-center" data-aos="zoom-in">
            <img src="{% static 'page/assets/img/intern/equipo.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center textos" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>Nuestro Equipo.</h3>
              <h4 style="padding-bottom: 20px;">Profesionales con experiencia</h4>
              <p> 
                La cercanía y la transparencia son importantes para nosotros.
                Te invitamos a conocer al equipo de personas que hace que "ENGLISH EN LINEA" funcione cada día bajo la máxima de ofrecerte siempre lo mejor en el aprendizaje del Inglés.</p>
                <img style="margin-bottom: 30px;" src="{% static 'page/assets/img/intern/equipologo.png'%}" width="200">
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Course Section -->

    <!-- ======= Question Section ======= -->
    <section id="question" class="questions">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-contents-center question-simple" data-aos="fade-right">
            <h3>Preguntas Frecuentes</h3>
            <div id="frecuently_questions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#frecuently_questions" data-slide-to="0" class="active"></li>
                <li data-target="#frecuently_questions" data-slide-to="1"></li>
                <li data-target="#frecuently_questions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <ol>
                    <li>¿Qué necesito para aprender inglés con ENGLISH EN LINEA?
                      Un dispositivo (PC, portátil, tablet, móvil) con conexión a internetAuriculares y un micrófono.
                      Ganas de aprender</li>
                    <li>¿Cuánto duran las clases?
                      Las clases son de 30 minutos o de 50 minutos.</li> 
                      
                    <li>¿Qué nivel se necesita para las clases online?
                      Para las clases de conversación online se necesita saber por lo menos lo básico del idioma. Se necesita un nivelintermedio para los cursos de inglés técnico online.
                    </li> 
                    <li>¿Cómo compro mis clases?
                      Se puede pagar por dos métodos:
                      - Por PayPal desde tu zona de alumnos.
                      - Por transferencia bancaria a nuestra cuenta española. Sólo tienes que mandarnos una copia de la transferencia poremail y añadiremos los créditos de tus clases a tu cuenta.</li>
                  </ol>
                </div>
                <div class="carousel-item">
                  <ol>
                    <li>¿Qué necesito para aprender inglés con ENGLISH EN LINEA?
                      Un dispositivo (PC, portátil, tablet, móvil) con conexión a internetAuriculares y un micrófono.
                      Ganas de aprender.</li>
                      
                    <li>¿Cuánto duran las clases?
                      Las clases son de 30 minutos o de 50 minutos.</li> 
                      
                    <li>¿Qué nivel se necesita para las clases online?
                      Para las clases de conversación online se necesita saber por lo menos lo básico del idioma. Se necesita un nivelintermedio para los cursos de inglés técnico online.
                    </li> 
                    <li>¿Cómo compro mis clases?
                      Se puede pagar por dos métodos:
                      - Por PayPal desde tu zona de alumnos.
                      - Por transferencia bancaria a nuestra cuenta española. Sólo tienes que mandarnos una copia de la transferencia poremail y añadiremos los créditos de tus clases a tu cuenta.</li>
                  </ol>
                </div>
                <div class="carousel-item"><ol>
                  <li>¿Qué necesito para aprender inglés con ENGLISH EN LINEA?
                    Un dispositivo (PC, portátil, tablet, móvil) con conexión a internetAuriculares y un micrófono.
                    Ganas de aprender</li>
                  <li>¿Cuánto duran las clases?
                    Las clases son de 30 minutos o de 50 minutos.</li> 
                    
                  <li>¿Qué nivel se necesita para las clases online?
                    Para las clases de conversación online se necesita saber por lo menos lo básico del idioma. Se necesita un nivelintermedio para los cursos de inglés técnico online.
                  </li> 
                  <li>¿Cómo compro mis clases?
                    Se puede pagar por dos métodos:
                    - Por PayPal desde tu zona de alumnos.
                    - Por transferencia bancaria a nuestra cuenta española. Sólo tienes que mandarnos una copia de la transferencia poremail y añadiremos los créditos de tus clases a tu cuenta.</li>
                </ol>
                </div>
              </div>
              <a class="carousel-control-prev" href="#frecuently_questions" role="button" data-slide="prev">
                <span style="display:none;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#frecuently_questions" role="button" data-slide="next">
                <span style="display:none;" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-lg-6 text-center" data-aos="zoom-in">
            <img src="{% static 'page/assets/img/intern/bgpreguntascomplete.png'%}" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Questions Section -->

     <!-- ======= Team Section ======= -->
     <section id="team" class="team">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Cambiamos vidas, creamos futuro</h2>
            <p>Como parte de ENGLISH EN LINEA hemos ayudado a millones de personas como tú a aprender inglés.<br>
              Descubre lo que algunos de nuestros alumnos dicen de nosotros.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in">
                <div class="pic"><img src="{% static 'page/assets/img/intern/usuario1.jpg'%}" class="img-fluid" alt=""></div>
                <div class="prueba">
                  <h4>Bruno Heissohn</h4>
                  <span>
                  "ENGLISH EN LINEA es una gran experiencia con profesores y alumnos que están online y listos para interactuar"
                  </span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic"><img src="{% static 'page/assets/img/intern/usuario2.jpg'%}" class="img-fluid" alt=""></div>
                <div class="prueba">
                  <h4>Silvia Matos</h4>
                  <span>
                    "Después de tantos años de vivir en USA, encontré el método ideal para mí que trabajo todo el día: ENGLISH EN LINEA"
                      </span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic"><img src="{% static 'page/assets/img/intern/usuario3.jpg'%}" class="img-fluid" style="border-radius: 50px;" alt=""></div>
                <div class="prueba">
                  <h4>Carlos Espinoza</h4>
                  <span>
                    "Para mí la mejor opción es ENGLISH EN LINEA, porque tiene el mejor programa multimedia fácil de usar"
                    </span>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2 style="color:#fff;">Contáctenos</h2>
            <p style="color:#fff;">Si no encuentras respuesta a tus preguntas en nuestra sección "preguntas frecuentes"<br>
              contacta con nosotros a través del siguiente formulario, ¡te responderemos lo antes posible!</p>
          </div>
  
          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
              <div class="info">
                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Llámanos:</h4>
                  <p>Nuestros expertos asesores te ayudarán a
                    planificar tu estudio y a conseguir los
                    resultados que necesitas.</p>
                  <p>(705) 584 1457</p>
                </div>
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Lunes a Viernes:</h4>
                  <p>09:00 - 19:00 (GMT + 1)</p>
                </div>
                <img src="{% static 'page/assets/img/intern/contactobg.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Nombres</label>
                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last-name">Apellidos</label>
                    <input type="text" name="last-name" class="form-control" id="last-name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Correo Electrónico</label>
                    <input type="email" name="email" class="form-control" id="email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Asunto</label>
                    <input type="text" name="subject" class="form-control" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validate"></div>
                  </div>
                <div class="form-group col-md-12">
                  <label for="name">Mensaje</label>
                  <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>¡Regístrate, y aprende Inglés desde hoy!</h2>
        </div>

        <div class="row">
          
          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Plan por 1 Mes</h3>
              <h4><sup>$</sup>49<span> dólares</span></h4>
              <ul class="text-left">
                <li>- Ten Acceso a todos los niveles</li>
                <li>- Ahorro $49.00.</li>
                <li>- El curso dura un mes.</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Elegir Plan</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Plan por 2 meses</h3>
              <h4><sup>$</sup>199<span> dólares</span></h4>
              <ul class="text-left">
                <li>- Elige un solo nivel</li>
                <li>- Ahorro $199.00.</li>
                <li>- El curso dura 2 meses.</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Elegir Plan</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Plan por 3 meses</h3>
              <h4><sup>$</sup>249<span> dólares</span></h4>
              <ul class="text-left">
                <li>- Elige dos niveles</li>
                <li>- Ahorro $249.00.</li>
                <li>- El curso dura 3 meses.</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Elegir Plan</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Avanzado</span>
              <h3>Plan por 6 meses</h3>
              <h4><sup>$</sup>399<span> dólares</span></h4>
              <ul class="text-left">
                <li>- Acceso a todos los niveles.</li>
                <li>- Ahorro $399.00.</li>
                <li>- El curso dura 6 meses.</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Elegir Plan</a>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row-price">
          <div class="col-lg-12 text-center" data-aos="zoom-in">
            <img src="{% static 'page/assets/img/intern/paypal.png'%}" alt="" class=" img-fluid">
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->
{% endblock content %}
{% block plugins %}
  
{% endblock %}