{% extends 'baseAdmin.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    INDEX
{% endblock title %}


{% block content %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Registrar Tenant</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        ¡
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}