<nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><a href="#">INICIO</a></li>
      <li><a href="#course">CURSO DE <br>INGLES</a>      </li>
      <li><a href="#team_new">NUESTRO <br>EQUIPO</a></li>
      <li><a href="#question">PREGUNTAS <br>FRECUENTES</a></li>
      <li><a href="#team">TESTIMONIOS</a></li>
      <li><a href="#contact">CONTACTO</a></li>
      <li><a href="#pricing">REGISTRATE</a></li>
      <li><a class="log-in" href="#pricing">ENTRAR</a></li>
    </ul>
  </nav><!-- .nav-menu -->