{% load static %}
<div class="relative">
    <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
       aria-controls="userSettingsCollapse" class="btn-fab btn-fab-sm absolute fab-right-bottom fab-top btn-primary shadow1 ">
        <i class="icon icon-cogs"></i>
    </a>
    <div class="user-panel p-3 light mb-2">
        <div>
            <div class="float-left image">
                <img class="user_avatar" src="{% static 'system/assets/img/dummy/u2.png'%}" alt="User Image">
            </div>
            <div class="float-left info">
                <h6 class="font-weight-light mt-2 mb-1">Stephania Arboleda</h6>
                <a href="#"><i class="icon-circle text-primary blink"></i> En Linea</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="collapse multi-collapse" id="userSettingsCollapse">
            <div class="list-group mt-3 shadow">
                <a href="index.html" class="list-group-item list-group-item-action ">
                    <i class="mr-2 icon-umbrella text-blue"></i>Profile
                </a>
                <a href="#" class="list-group-item list-group-item-action"><i
                        class="mr-2 icon-cogs text-yellow"></i>Settings</a>
                <a href="#" class="list-group-item list-group-item-action"><i
                        class="mr-2 icon-security text-purple"></i>Change Password</a>
            </div>
        </div>
    </div>
</div>
<ul class="sidebar-menu">
    <li class="header"><strong>MENU DE NAVEGACION</strong></li>
    <li class=""><a href="/../dashboard/index">
        <i class="icon icon-sailing-boat-water purple-text s-18"></i> <span>Dashboard</span></a>
    </li>
    <li class="treeview"><a href="#"><i class="icon icon-account_box light-green-text s-18"></i>Estudiantes<i
            class="icon icon-angle-left s-18 pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="/../users/list_users"><i class="icon icon-circle-o"></i>Todos los Estudiantes</a>
            </li>
            <li><a href="/../users/add_users/"><i class="icon icon-add"></i>Agregar Estudiante</a>
            </li>
        </ul>
    </li> 
</ul>