{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {% if modificar %}
        Modificación de Usuarios - Administrador
    {% else %}
            Creación de Usuarios - Administrador
    {% endif %}
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        {% if modificar %}
                            Modificar Administrador
                        {% else %}
                            Agregar Administrador
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>

        <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
            {% csrf_token %}
            <div class="card-box">
                <div class="row">

                    {% for field in form %}
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center submit-btns">
                <button type="submit" class="btn btn-primary m-r-20">
                    {% if modificar %}
                        Modificar
                    {% else %}
                        Registrar
                    {% endif %}
                </button>
                <a href="{% url 'listar_administradores' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript">
                $('#id_fecha_nacimiento').datetimepicker({
                    format: 'MM/DD/YYYY'

                });
        </script>
{% endblock %}

